body
{
  background-color: black;
  color: black;
  font-family: arial;
  text-align: center;
}

h1{
  position: absolute;
  transform: rotate(90deg);
  left: 60%;
  font-size: 6em;
  top: 40%;
}


h2
{
  font-size: 15em;
  color: white;
  background: none;
  border: none;
}

#thermo-container{
  position: absolute;
  top: 20%;
  right: 25%;
  height: 60%;
  width: 50px;
}
#form-div{
  background:none;
  border:none;
  position: absolute;
  top: 80%;
  font-size: 1.5em;
  right: 5%;
}

div{
  background: background: -webkit-linear-gradient(red,yellow,green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red,yellow,green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red,yellow,green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red,yellow,green); /* Standard syntax */
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 3px #000 solid;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
}
div#black{
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  opacity: .5;
  transition: all linear 0.5s;
}

.flip-container{
  perspective: 2000;
  width: 20%;
  background: none;
  border: none;
  position: absolute;
  left: 50%;
}

.flipper{
  transform: rotateY(360deg);
  transition: all ease-in-out .3s;
  width: 100%;
  background: none;
  border: none;
}

#flip-parent{
  background: none;
  border:none;
}